/*

COLOUR PALETTE

brown:              #66383b
light pink:         #ffaaa6
med pink:           #ff8c94
yellow:             #ffd385
seafoam green:      #a8e6ce



GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */


/* MOBILE VIEW */


/* MEDIUM VIEW */
@media screen and (min-width: 720px) {

}

/* LARGE VIEW */
@media screen and (min-width: 1024px) {
    
}
